body {
   background-image: url(../sayagata-400px.png);
}

h1 {
   padding-top: 30px;
   font-size: 200%;
   text-align: center;
   text-transform: uppercase;
   padding-bottom: 50px;
}

.container {
   text-align: center;
   margin: 0 auto;
   max-width: 700px;
}

.link { 
   text-transform: uppercase;  
   text-decoration: none;
   font-size: 120%;
    margin: 0 auto;
   padding: 20px;
}